.footer-section-wrap{
    width : 100%;
    background-color: #F7F7F7;
    height : 70px;
    font-size: 13px;
}

.footer-wrap{
    padding-top : 20px;
    margin : 0 auto;
    border-top: 1px solid #dddddd;
    width : 89%;
}

.footer-left{
    display: flex;
    justify-self: center;
    line-height: 40px;
}

.footer-left > h3{
    
    font-size : 14px;
    padding-right : 7px;
    font-weight: 350;
}