*{
    margin : 0;
    padding : 0;
}
input{
    border : none;
    outline: none;
}

.host-wrap-icons{
    color : black;
    margin-top : 10px;
    cursor: pointer;
}

.go{
    transform: translate(0, 10px);
    transition-property: all;
    transition-duration: 2s;
    transition-timing-function: ease;
    
}
.test{
    position : fixed;
    top : 0;
}

.none{
    display : none;
}
.seen{
    display : flex;
}

.black-nav{
    background-color: black;
}

.nav-wrap{
    transition : opacity 1s ease-in;
}

.black-nav > p {
    height : 40px;
    padding-top : 20px;
    text-align: center;
    text-decoration: underline;
    color : white;
    font-size : 14px;
    width : 100%;
    background-color: black;
}

.black-nav-element-wrap{
    display : flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: black;
    color : white;
    width : 92%;
    height : 60px;
    margin : 0 auto;
    padding-top : 20px;
    align-items: center;
}

.black-nav-element1{
    display: flex;
    align-items: center;
    width : 40%;
}

.black-nav-element1 > h1{
    margin-left : 10px;
}

.main-black-nav-element2{
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    width : 40%;
    padding-right: 200px;
}

.main-black-nav-text{
    font-size : 15px;
    font-weight : normal;
    color : white;
    width : 100px;
}

.black-nav-element3{
    display: flex;
    align-items: center;
    width : 15%;
    height : 70%;
    justify-content: space-between;
}

.black-nav-element3 > a{
    text-decoration-line : none;
    color : white;
    font-weight: normal;
    font-size : 15px;
    margin-right : 8px;
}

.mainpage-host-wrap{
    position : relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width : 80px;
    height : 40px;
    background-color: #ffffff;
    border : 1px solid gray;
    border-radius: 30px;
    font-size : 20px;
}
/* .host-wrap > i {
    margin: 0 auto;
    color : gray;
} */

/* ------------------- */
.black-nav-search-wrap{
    color : #222222;
    display : flex;
    width : 60%;
    height :70px;
    background-color: #f7f7f7;
    margin : 0 auto;
    border-radius : 50px;
    justify-content: space-around;
    font-size : 8px;
    line-height: 20px;
    margin-top : 25px;
}
/* .search-input{
    border : none;
    background-color : #f7f7f7;
} */

.search-font2{

    color : #717171;
    font-weight: 1000;
    font-size : 14px;
}

.search-common{
    cursor: pointer;
    border-radius: 40px;
}

.search-common:hover{
    background-color: #dddddd !important;
}
.search-height{

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left : 30px;
    flex-wrap : wrap;
}
.search-location{
    width : 35%;

    /* background-color : rgb(0 0 0 / 15%) 0px 16px 32px, rgb(0 0 0 / 10%) 0px 3px 8px !important; */
    /* background-color: aqua; */
}


.search-checkin{
    width : 20%;
    /* box-shadow: rgb(0 0 0 / 30%) 0px 1px 2px, rgb(0 0 0 / 30%) 0px 4px 12px !important;
    background-color: white; */
    /* background-color: blanchedalmond; */
}
.search-checkout{
    width : 20%;
    /* background-color: yellow; */
}

.search-numbers{
    width : 30%;
    /* background-color: violet; */
}
.search-numbers-icon{
    width : 50px;
    height : 50px;
    display: block;
    background-color: #ff385c;
    border-radius: 50%;
    position : absolute;
    right : 300px;
    text-align: center;
    line-height: 50px;
    font-size : 18px;
    color : white;
    font-weight: lighter;
}

.search-line{
    display: block;
    position: relative;
    top : 21px;
    width : 0.1px;
    height : 38px;
    background-color : #d0d0d0;
    border : 0.5px solid #d0d0d0;
}

/* ---------------------------- */
.white-search-wrap{
    display: flex;
    flex-direction: row;
}
.white-nav-wrap{
    display: flex;
    flex-direction: row;
    height : 80px;
    background-color: white;
    width : 100%;
    animation : move 0.1s ease-in;
    
}

@keyframes move { 
    0% { transform: translate(0, 235px) } 
    25% { transform: translate(0, 170px) } 
    50% { transform: translate(0, 110px) } 
    75% { transform: translate(0, 50px) } 
    100% { transform: translate(0, 0px) } 
}



.white-nav-element1{
    display: flex;
    align-items: center;
    width : 35%;
    margin-left : 55px;
    font-size : 13px;
    color : #ff385c;
}
.white-nav-element1 > i{
    font-size : 2rem;
}
.white-nav-element1 > h1{
    margin-left : 10px;
}

.white-search{
    display: flex;
    flex-direction: row;
    margin-top : 15px;
    border-radius : 25px;
    width : 300px;
    height : 50px;
    background-color: white;
    align-items: center;
    box-shadow: rgb(221 221 221) 0px 0px 0px 1px inset, rgb(0 0 0 / 18%) 0px 2px 4px ;
}

.white-search > h3{
    margin-left : 20px;
    line-height : 50px;
    font-weight: 400;
    font-size : 16px;
}

.search-numbers-icon2 > i{
    font-size : 15px;
}

.search-numbers-icon2{
    
    margin-left: 95px;
    width : 30px;
    height : 30px;
    display: block;
    background-color: #ff385c;
    border-radius: 50%;
    position : relative;
    left : 20%;
    text-align: center;
    line-height: 30px;
    font-size : 18px;
    color : white;
    font-weight: lighter;
}

.guest{
    display : block;
    white-space : nowrap;
    overflow : hidden;
    text-overflow: ellipsis;
    width : 100px;
}

.white-nav-element3{
    display: flex;
    flex-direction: row;
    align-items: center;
    width : 20%;
    height : 100%;
    justify-content: space-evenly;
    margin-left : 186px;
}

.white-nav-element3 > a{
    text-decoration-line : none;
    color : black;
    font-weight: normal;
    font-size : 15px;
    margin-right : 8px;
}

.host-wrap2{
    display: flex;
    align-items: center;
    width : 80px;
    height : 50%;
    background-color: white;
    border : 1px solid gray;
    border-radius: 30px;
    font-size : 20px;
}
.host-wrap2 > i {
    margin: 0 auto;
    color : gray;
}


/* ------------------------------ */
.uk-section-wrap{
    
    width : 100%;
    height : 500px;
    background-color: black;;
    padding-top : 50px;
    
}

.uk-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width : 92%;
    height : 350px;
    background-color: #ff385c;
    margin : 0 auto;
    border-radius: 10px;

}
.uk-section > span{
    width : 65%;
    font-size : 3rem;
    font-weight: 600;
    text-align: center;
    color : #ffffff;
}
.uk-section > div{
    margin-top : 20px;
    display: block;
    width : 130px;
    height : 40px;
    color : #ffffff;
    border : 1px solid #ffffff;
    border-radius : 10px;
    text-align: center;
    line-height : 40px;
}

/* ------------------------------ */

.search-section-wrap{
    display: flex;
    width : 100%;
    height : 790px;
    background: linear-gradient(black 50%, white 50%);
    justify-content: center;
}
.search-section-img-wrap{
    width : 100%;
    height: 100%;
    border-radius: 10px;
    
}
.search-section-img{
    background-image: url('https://a0.muscache.com/im/pictures/4b75813b-bc09-4719-b6b8-06a5f170724d.jpg?im_w=1920');
    height : 100%;
    width : 89%;
    
    border-radius: 10px;
    margin : 0 auto;
    background-size : cover;
    background-repeat: no-repeat;
}

.search-section-img > h1 {
    font-size : 45px;
    font-weight: 500;
    color : white;
    text-align: center;
    position : relative;
    top : 65%;
}

.search-section-img > div {
    text-decoration: none;
    cursor: pointer;
    width : 150px;
    height : 50px;
    display: block;
    background-color: white;
    text-align: center;
    line-height: 50px;
    border-radius: 25px;
    position : relative;
    top: 70%;
    margin : 0 auto;
    color : #6F019C;
    font-weight: bold;
    font-size : 18px;
}


/* -------------------------------- */
/* 서울 https://a0.muscache.com/im/pictures/19d4c139-3615-4440-b5e3-55ee3f87e240.jpg?im_w=320 */
/* 인천 https://a0.muscache.com/im/pictures/56ea1c5b-dcde-45b3-af40-9de6bbe984b5.jpg?im_w=320 */
/* 대구 https://a0.muscache.com/im/pictures/1e5fc501-e1ed-4de4-be9f-811e9de0a0d2.jpg?im_w=320 */
/* 대전 https://a0.muscache.com/im/pictures/ee86b8d6-b214-43f5-912c-3db2637a5724.jpg?im_w=320 */


.city-section-wrap{
    width : 89%;
    height : 600px;
    background-color: #ffffff;
    margin : 0 auto;
    
}

.city-section-wrap > h1 {
    color : #222222;
    font-size : 45px;
    font-weight: 500;
    padding : 50px 0 50px 0;  
}

.city-wrap{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.city-wrap-common{
    display : flex;
    flex-direction: column;
    width : 300px;
    height : 420px;
    border-radius: 10px;
}

.city-img{
    width : 100%;
    height : 50%;
    border-radius: 10px 10px 0 0 ;
}
/* 
.seoul-img{
    background-image: url('https://a0.muscache.com/im/pictures/19d4c139-3615-4440-b5e3-55ee3f87e240.jpg?im_w=320');
    background-size : cover;
    background-repeat: no-repeat;
}

.incheon-img{
    background-image: url('https://a0.muscache.com/im/pictures/56ea1c5b-dcde-45b3-af40-9de6bbe984b5.jpg?im_w=320');
    background-size : cover;
    background-repeat: no-repeat;
}

.daegu-img{
    background-image: url('https://a0.muscache.com/im/pictures/1e5fc501-e1ed-4de4-be9f-811e9de0a0d2.jpg?im_w=320');
    background-size : cover;
    background-repeat: no-repeat;
}

.daejeon-img{
    background-image: url('https://a0.muscache.com/im/pictures/ee86b8d6-b214-43f5-912c-3db2637a5724.jpg?im_w=320');
    background-size : cover;
    background-repeat: no-repeat;
} */

.city-info{
    height : 50%;
    border-radius: 0 0 10px 10px;
    color : white;
}
.city-info > h1{
    padding : 20px 20px 0 20px;
    font-size : 35px;
    font-weight: 400;
}

.city-info > h3{
    padding-left : 20px;
    font-size : 20px;
    font-weight: 350;
}
/* .seoul{
    background-color: #bc1a6e;
}

.incheon{
    background-color: #CC2D4A;
}

.daegu{
    background-color: #DE3151;
}

.daejeon{
    background-color: #D93B30;
} */



/* --------------------------- */
.activity-section-wrap{
    width : 89%;
    height : 800px;
    background-color: #ffffff;
    margin: 0 auto;
    
}
.activity-section-wrap > h1{
    color : #222222;
    font-size : 45px;
    font-weight: 500;
    padding : 100px 0 40px 0;  
}


.activity-wrap{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.activity-common{
    width : 49%;
    height : 650px;
    background-color: #717171;
    border-radius: 10px;
    background-size : cover;
    background-repeat: no-repeat;
}
.activity-common > h1{
    font-size: 50px;
    color : white;
    font-weight: 500;
    padding : 70px 0px 30px 70px;
}

.activity-common > div{
    background-color: white;
    color : black;
    position: relative;
    left : 65px;
    width : 20%;
    height : 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 10px;
    font-size: 15px;
    padding : 0 20px 0 20px;
}

.activity-text{
    line-height : 50px;
    width : 70%;
    word-break: keep-all;
    margin-bottom : 50px;
}

/* https://a0.muscache.com/im/pictures/ae7fadb9-0b76-49a7-a45a-835a7390144e.jpg?im_w=960 */
/* https://a0.muscache.com/im/pictures/2e9e0381-68d8-4961-abf2-a4f897b41fa8.jpg?im_w=960 */

.main-question-section-wrap{
    width : 100%;
    height : 620px;
    display: flex;
    justify-content: center;
    margin : 100px 0 100px 0;
}
.question-section{
    background-image: url('https://a0.muscache.com/im/pictures/0903a029-e330-41f6-add2-652954f62185.jpg?im_w=1440');
    background-size : cover;
    background-repeat: no-repeat;
    width : 89%;
    height : 100%;
    border-radius: 10px;
}
.span-wrap{
    width : 60%;
    padding : 80px;
    color : white;
    word-break: keep-all;
}

.span-wrap > span{
    font-size : 6rem;
    line-height: 110px;
    font-weight: 600;
}

.span-wrap > div{
    width : 36%;
    height : 45px;
    font-size : 16px;
    font-weight: 600;
    border-radius: 10px;
    text-align: center;
    line-height :45px;
    background-color: white;
    color : black;
    margin-top : 100px;
}


/* ----------------------------- */

.link-section-wrap{
    width : 100%;
    height : 400px;
    /* margin-top : 50px; */
    background-color: #F7F7F7;
}

.link-wrap{
    list-style-type: none;
    font-size : 14px
}

.ul-wrap{
    display :flex;
    justify-content: space-between;
    width : 89%;
    height : 200px;
    
    margin : 0 auto;
    padding-top : 50px;
}

.links:not(.bold){
    font-weight: 350;
}
.links{
    padding-top : 20px;
}
.bold{
    font-weight: bold;
}

/* -------------------------- */

.footer-section-wrap{
    width : 100%;
    background-color: #F7F7F7;
    height : 70px;
    font-size: 13px;
}

.footer-wrap{
    padding-top : 20px;
    margin : 0 auto;
    border-top: 1px solid #dddddd;
    width : 89%;
}

.footer-left{
    display: flex;
    justify-self: center;
    line-height: 40px;
}

.footer-left > h3{
    font-size : 14px;
    padding-right : 7px;
    font-weight: 350;
}

/* -------------------------------------- */

.menubar-wrap{
    z-index: 100;
    position : absolute;
    top : 50px;
    right : 0;
    display : block;
    width : 230px;
    background-color: white;
    border-radius: 10px;
    color : black;
}

.menubar-linear{
    display: block;
    background-color : #d0d0d0;
    width : 100%;
    height : 0.1px;
    margin : 5px 0 5px 0 ;
}

.menubar-bold{
    font-weight: bold;
    padding : 15px 0px 15px 20px;
}

.menubar-common{
    cursor: pointer;
    font-size : 15px;
    padding : 15px 0px 15px 20px;
}

.menubar-common:hover{
    background-color: rgb(239, 239, 239);
}

.border-f:hover{
    background-color: rgb(239, 239, 239);
    border-radius: 10px 10px 0 0;
}

.border-l:hover{
    background-color: rgb(239, 239, 239);
    border-radius: 0 0 10px 10px;
}



/* ------------------------------------------------------------------------ */
.login-modal-wrap{
    width: 100%;
    height: 100%;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0,0,0,0.28);
    position: fixed;
    overflow: hidden;
    
}
.login-modal-container{
    width : 100%;
    height : 100%;
    
}

.show{
    transform : translate(-50%, -50%);
    
}

.none{
    transform: translate(-50%, 40%);
}

.email-login-modal-content-container{
    position: absolute;
    z-index: 1000;
    transition: all .5s;
    top: 50%;
    left: 50%;
    position: absolute;
    border-radius: 10px;
    background-color: white;
    width: 38%;
    height : 75%;
    transform : translate(-50%, 40%);
    animation-duration: 0.4s;
    animation-timing-function: ease-out;
    animation-name: slideUp;
    animation-fill-mode: forwards;
    
}

.login-modal-content-container{
    position: absolute;
    z-index: 1000;
    transition: all .5s;
    top: 50%;
    left: 50%;
    position: absolute;
    border-radius: 10px;
    background-color: white;
    width: 40%;
    height : 88%;
    transform : translate(-50%, 40%);
    animation-duration: 0.4s;
    animation-timing-function: ease-out;
    animation-name: slideUp;
    animation-fill-mode: forwards;
    
}

.password-login-modal-content-container{
    position: absolute;
    z-index: 1000;
    transition: all .5s;
    top: 50%;
    left: 50%;
    position: absolute;
    border-radius: 10px;
    background-color: white;
    width: 38%;
    height : 48%;
    transform : translate(-50%, 40%);
    animation-duration: 0.4s;
    animation-timing-function: ease-out;
    animation-name: slideUp;
    animation-fill-mode: forwards;
}

.password-modal-forget{
    margin-top : 17px;
    text-decoration: underline;
    font-weight: bold;
    font-size : 13px;
}

@keyframes slideUp {
  from {
    transform: translate(-50%, 40%);
  }
  to {
    transform: translate(-50%, -50%);
  }
}

.login-modal-content{
    width : 100%;
    height : 100%;
    /* padding : 25px 25px 0 25px; */
}

.password-modal-content-inner{
    width: 100%;
    height : 100%;
    border-bottom : 1px solid #d0d0d0;
}

.password-modal-login-title-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width : 50%;
    height : 3.5rem;
    font-weight: bold;
    font-size : 16px;
}

.title-content{
    width : 100%;
    height : 3.5rem;
    border-radius: 10px 10px 0 0 ;
    border-bottom : 1px solid #d0d0d0;
    text-align: center;
    line-height: 3.5rem;
    font-weight: bold;
}



.password-modal-title-content{
    width : 100%;
    height : 3.5rem;
    border-radius: 10px 10px 0 0 ;
    border-bottom : 1px solid #d0d0d0;
    text-align: center;
    line-height: 3.5rem;
    font-weight: bold;
    font-size : 16px;
}

.icon{
    position: absolute;
    left : 25px;
    top : 21px;
}
.password-modal-icon{
    cursor: pointer;
}

.login-section{
    padding : 2px 24px 15px 24px;
    height : 600px;
    overflow: scroll;
}

.login-greeting{
    margin-top : 20px;
    font-size : 20px;
    font-weight: 500;
}

.login-nation{
    margin-top : 20px;
    position: relative;
    width : 100%;
    height : 60px;
    border-radius: 10px 10px 0 0 ;
    border : 1px solid rgb(133, 133, 133);
    
}
.login-nation-inner{
    padding : 10px;
}
.small-text{
    color : rgb(133, 133, 133);
    font-size : 12px;
}
.login-nation-select{
    appearance: none;
    width : 100%;
    border : none;
    font-size : 18px;
}

.login-nation-select:focus{
    outline: none;
}

.login-nation-icon{
    position : absolute;
    right : 10px;
    top : 20px;
}

.login-number{
    width : 100%;
    height : 60px;
    border-radius: 0 0 10px 10px;
    border : 1px solid rgb(133, 133, 133);
    border-top : 0;
    margin-bottom : 5px;
}

.login-number-inner{
    position: relative;
    padding : 10px;
}

.login-number-inner > input{
    border : 0;
    position : relative;
    left : 30px;
    width : 80%;
    font-size : 18px;
}


.create-account-name{
    width : 100%;
    border-radius: 0 0 10px 10px;
    border : 1px solid rgb(133, 133, 133);
    border-top : 0;
    margin-bottom : 5px;
}

.create-account-name-inner{
    position: relative;
    height : 100%;
    padding : 10px;
}

.login-number-inner > input:focus{
    outline: none;
}

.placeholder-div {
    height : 90%;
    font-size : 12px;
}


.nation-number{
    position: absolute;
    top : 24px;
    font-size : 18px;   
}


.login-select-section > span{
    font-size : 11px;
}

.continue {
    width : 100%;
    height : 50px;
    background: linear-gradient(to right, rgb(230, 30, 77) 0%, rgb(227, 28, 95) 50%, rgb(215, 4, 102) 100%);
    border-radius: 10px;
    text-align: center;
    line-height: 50px;
    color : white;
    font-weight: bold;
    margin-top : 15px;
    cursor: pointer;
}

.create-account-continue{
    width : 100%;
    height : 50px;
    background: linear-gradient(to right, rgb(230, 30, 77) 0%, rgb(227, 28, 95) 50%, rgb(215, 4, 102) 100%);
    border-radius: 10px;
    text-align: center;
    line-height: 50px;
    color : white;
    font-weight: bold;
    margin-top : 25px;
    cursor: pointer;
}


.main-login-section-line{
    display: flex;
    flex-direction: row;
    width : 100%;
    height : 40px;
    margin : 0 auto;
    justify-content: space-between;
    margin-top : 20px;
    margin-bottom : 50px;
}

.main-line-div-wrap{
    width : 47%;
    height : 100%;
}

.main-line-text{
    margin-top : 3px;
    font-size: 11px;
    color : #484848;
    
}
.main-line-div{
    display: flex;
    position: relative;
    top : 10px;
    justify-content: center;
    width: 99%;
    margin : 0 auto;
    height: 1px;
    background-color: rgb(221, 221, 221);
}

.login-app{
    display: flex;
    flex-direction: column;
    justify-content: center
}

.loginApp-wrap{
    cursor: pointer;
    position: relative;
    border : 1px solid black;
    border-radius: 10px;
    margin-top : 20px;
    height : 50px;
    background-color: white;
    text-align: center;
    line-height : 50px;
    font-size : 15px;
    font-weight: 600;
}

.loginApp-wrap:hover{
    background-color: rgb(239, 239, 239)
}

.loginApp-app{
    position : absolute;
    left : 15px;
    top : 15px;
    width : 25px;
    height : 25px;
    background-size : cover;
    background-repeat: no-repeat;
}

/* ---------------------------------------------------- */
.location-sub-box{
    z-index : 100;
    position: absolute;
    top : 250px;
    width : 400px;
    height : 200px;
    background-color: white;
    left : 20%;
    border-radius: 20px;
}

.location-sub-container{
    width : 80%;
    height : 100%;
    margin : 0 auto;
}

.location-sub-container > span{
    font-weight: 600;
    font-size : 15px;
    position: relative;
    top : 50px;
}

.location-sub-container > div{
    position: relative;
    width : 90%;
    height : 50px;
    line-height: 50px;
    top : 70px;
    border-radius: 20px;
    padding-left : 20px;
    box-shadow: rgb(0 0 0 / 23%) 0px 1px 2px, rgb(0 0 0 / 23%) 0px 4px 12px !important;
    font-size : 20px;
    font-weight: 700;
    color : purple;
    
}

.location-sub-link{
text-decoration: none;
}
/* -------------------------------------------------------- */

.people-number-box{
    position: absolute;
    margin-top : 20px;
    right : 20%;
    width : 400px;
    height : 430px;
    background-color: white;
    border-radius: 20px;
}

.people-number-container{
    width : 84%;
    height : 90%;
    margin : 0 auto;
    margin-top : 20px;
}

.people-number-div > h2{
    font-size : 17px;
}

.people-number-div > h3{
    font-size : 13px;
    color : #717171;
    font-weight: 400;
    margin-top : 5px;
}
.people-element-container{
    display: flex;
    justify-content: space-between;
    padding : 20px 0 20px 0;
}
.number-wrap{
    display: flex;
    margin-top : 15px;
}
.people-number-line{
    width : 100%;
    height : 0.1px;
    background-color: #222222;
}

.people-element-container:not(:nth-last-child(2)){
    border-bottom : 1px solid #dddddd;
}

.number-wrap > h3{
    margin : 0 10px 0 10px;
}

.people-number-container > span{
    font-size : 15px;
    color : #717171
}

.number-wrap-icon{
    cursor: pointer;
}

.email-login-input-container{
    width : 100%;
    height : 60px;
    margin-top : 10px;
    border-radius: 10px;
    border : none;
}

.email-login-input{
    width : 100%;
    height : 100%;
    border-radius: 10px;
    border : 1px solid #717171;
    padding-left : 10px;
    font-size : 17px;
}

.password-modal-incorrect-password{
    width : 100%;
    
}

.password-modal-incorrect-password-wrap{
    width : 90%;
    margin : 0 auto;
    height : 100px;
    border : 1px solid #d0d0d0;
    border-radius: 10px;
    margin-top : 20px;
    display: flex;
    align-items: center;
}

.incorrect-password-icon{
    margin : 20px;
    width : 50px;
    height : 50px;
    color : linear-gradient(to right, rgb(230, 30, 77) 0%, rgb(227, 28, 95) 50%, rgb(215, 4, 102) 100%);
}

.main-page-to-list-page{
    width : 100px;
    height : 100px;
    background-color: #6F019C;
}

.create-account-title{
    font-size : 1rem;
}

.create-account-birth-section{
    width : 100%;
    height : 100px;
    margin-top : 18px;
}

.create-account-birth-container{
    border-radius: 10px;
    height : 60px;
    display: flex;
    flex-direction: column;
    padding : 10px;
    border : 1px solid #717171;
    margin-bottom : 5px;
}

.create-account-birth-section > span{
    font-size : 12px;
}

.create-account-password-container{
    border-radius: 10px;
    height : 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding : 10px;
    border : 1px solid #717171;
    margin-bottom : 5px;
    align-items: center;
}

.create-account-line{
    width : 98%;
    margin : 0 auto;
    height : 0.1px;
    background-color: #d0d0d0;
    margin-top : 25px;
}


.create-account-checkbox-container{
    display: flex;
    margin-top : 20px;
}

.create-account-checkbox-container > div{
    margin-left : 16px;
}

.user-svg{
    display: block;
    width : 30px;
    height : 30px;
    fill: gray;
    z-index: 100;

}

.user-svg-wrap{
    z-index : 100;
    width : 30px;
    height : 30px;
    position: absolute;
    top : 4px;
    right : 6px;
}

.mainpage-svg-container{
    display : flex;
    flex-direction: row;
}

.host-svg-wrap{
    position: absolute;
    top : 5px; 
    left : 7px;
    display: block;
    color : black;
    height: 16px; 
    width: 16px; 
    stroke: currentcolor; 
    stroke-width: 3; 
    overflow: visible;
}