
*{
    margin : 0 ;
    padding : 0;
}

.roomInfo-nav-section{
    width : 100%;
    border-bottom : 1px solid #EBEBEB;
}

.roomInfo-nav-container{
    display : flex;
    flex-direction: row;
    width : 78%;
    margin : 0 auto;
    height : 85px;
    justify-content: space-between;
    align-items: center;
    
}

.roomInfo-nav-icon{
    display : flex;
    align-items: center;
}


.roomInfo-search-container{
    display : flex;
    align-items: center;
    width : 300px;
    height : 50px;
    justify-content: space-between;
    border-radius: 25px;
    box-shadow: rgb(0 0 0 / 13%) 0px 1px 2px, rgb(0 0 0 / 13%) 0px 4px 12px !important;
}

.roomInfo-search-container > div{
    margin-left : 20px;
    font-weight: 500;
    font-size : 15px;
}

.magnify-wrap{
    width : 35px;
    height : 35px;
    background-color: #FF385C;
    border-radius: 50%;
    display : flex;
    justify-content: center;
    align-items: center;
    margin-right : 10px;
}

.menu-container{
    width : 200px;
    display : flex;
    align-items: center;
    justify-content: space-between;
}

.icon-array{
    display: flex;
    align-items: center;
    position : relative;
    top : -5px;
}

.host-wrap-container{
    display : flex;
    justify-content: space-around;
    align-items: center;
    width : 70px;
    border : 1px solid #DDDDDD;
    height : 40px;
    border-radius: 20px;;
}

.roomInfo-title-section{
    width : 100%;
    margin-top : 20px;
}

.roomInfo-title-container{
    width : 78%;
    display : flex;
    flex-direction: column;
    margin : 0 auto;
}

.roomInfo-title-container > h1{
    font-size : 1.5rem;
}

.roomInfo-tag-container{
    margin-top : 10px;
    display : flex;
    flex-direction: row;
    justify-content: space-between;
}

.tag-right-container, .tag-right{
    display: flex;
    flex-direction: row;
}

.underline{
    text-decoration: underline;
}

.tag-right > div{
    margin : 0 10px 0 10px;
    text-decoration: underline;
    font-size : 15px;
}

.roomInfo-image-section{
    width : 100%;
    height : 400px;
    margin-top : 20px;
}

.roomInfo-image-container{
    width : 78%;
    height : 100%;

    margin : 0 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    border-radius: 10px;
}

.roomInfo-image-left-section{
    width : 50%;
    height: 100%;
    background-color: azure;
    border-radius: 10px 0 0 10px;
    background-size : cover;
    background-repeat: no-repeat;
}

.roomInfo-image-right-section{
    width : 49%;
    height : 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.image-container{
    width : 49.5%;
    height : 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.image-box{
    width : 99%;
    height : 49%;
    background-size : cover;
    background-repeat: no-repeat;
}

.border-one{
    border-radius: 0 10px 0 0;
}

.border-two{
    border-radius: 0 0 10px 0;
}

.roomInfo-middle-section{
    width : 100%;
    height : 100%;
    margin-top : 50px;
}

.roomInfo-middle-container{
    display: flex;
    width : 79%;
    height : 100%;
    margin : 0 auto;

}

.roomInfo-middle-left-container{
    width : 59%;
    height : 100%;
}

.roomInfo-middle-right-container{
    width : 41%;
}

.round-img{
    background-size : cover;
    background-repeat: no-repeat;
    width : 60px;
    height : 60px;
    border-radius: 50%;
}

.roomInfo-host-text{
    display: flex;
    flex-direction: column;    
}

.roomInfo-host-text > span{
    margin-top : 10px;
}

.roomInfo-host-text > h3{
    font-size : 21px;
}

.roomInfo-host-section{
    display: flex;
    height : 80px;
    justify-content: space-between;
    border-bottom : 1px solid #EBEBEB;
    padding-bottom : 100px;
}

.svg-section-wrap{
    display: flex;
    margin-top : 25px;
}

.svg-section-text-container{
    margin-left : 25px;
}

.svg-section-text-container > span{
    margin-top : 5px;
    color : #717171;
    font-size : 14px;
}

.svg-section-text-container > div{
    font-size : 17px;
    font-weight: 500;
}

.roomInfo-svg-section{
    margin-top : 30px;
    border-bottom : 1px solid #EBEBEB;
    height : 220px;
}

.roomInfo-detail-section{
    width : 100%;
    height : 230px;
    border-bottom : 1px solid #EBEBEB;
    margin-top : 30px;
}

.roomInfo-detail-section > div{
    margin-bottom : 30px;
}

.roomInfo-detail-section > ul > li {
    list-style: none;
    margin-bottom : 2px;
}

.more-wrap{
    margin-top : 20px;
    display: flex;
    align-items: center;
}
.more-info{
    font-size : 18px;
    text-decoration: underline;
    margin-right : 10px;
}

.roomInfo-bedding-section{
    width : 100%;
    margin-top : 50px;
    height : 285px;
    border-bottom : 1px solid #DDDDDD;
}

.bedding-img{
    background-size : cover;
    background-repeat: no-repeat;
    
}

.bedding-img-container{
    display: flex;
    flex-direction: row;
    flex-wrap : wrap;
    width : 90%;
    height : 50px;
}

.bedding-wrap{
    width : 25%;
    height : 160px;
    border : 1px solid #DDDDDD;
    border-radius: 10px;
    padding : 20px;

}

.bedding-wrap > div:last-child{
    font-size : 13px;
    word-break: keep-all;
}


.host-wrap-icons{
    margin : 5px;
    font-size : 20px;
}

.roomInfo-bedding-container > h2{
    margin-bottom : 20px;
}


.roomInfo-facilities-container{
    width : 100%;
    margin-top : 50px;
    border-bottom : 1px solid #DDDDDD;
    padding-bottom : 50px;
}

.facilities-icon{
    display: flex;
    flex-direction: column;
    margin-right : 20%;
}

.roomInfo-icon-wrap{
    display: flex;
    flex-direction: row;
    width : 200px;
    margin-top : 20px;
}

.roomInfo-icon-wrap > div{
    width : 25px;
    height : 25px;
    background-size : cover;
    background-repeat: no-repeat;
}

.roomInfo-icon-wrap > span{
    font-size: 16px;
    line-height :15px;
    margin-top : 4px;
    margin-left : 15px;
}

.facilities-icon-container{
    display: flex;
    width : 100%;
}

.show-all-facilities{
    width : 200px;
    height : 50px;
    border : 1px solid black;
    border-radius: 10px;
    text-align: center;
    line-height: 50px;
    margin-top : 50px;
    font-weight: 600;
}

.roomInfo-calendar-section{
    width : 100%;
    height : 500px;
}

.roomInfo-calendar-wrap{
    width : 100%;
    height : 500px;
}

.check-in-text{ 
    font-size : 22px;
    font-weight: 500;
    margin-top : 50px;
    margin-bottom : 5px;
}

.roomInfo-calendar-container > span{
    color : #717171;
    font-size : 14px;
}
.roomInfo-calendar-container{
    height : 450px
}
.roomInfo-calendar-bottom{
    width : 100%;
    height : 50px;
    display: flex;
    margin-top : 10px;
    justify-content: space-between;
    
}

.calendar-bottom-img{
    width : 25px;
    height : 25px;
    background-size : cover;
    background-repeat: no-repeat;   
    margin-left : 40px;   
}

.date-remove{
    text-decoration: underline;
    font-weight: 500;
    font-size : 15px;
    margin-right : 40px;
}

.Info-review-container{
    width : 100%;
    height : 300px;
    display: flex;
}
.roomInfo-review-wrap{
    width : 50%;
}

.roomInfo-user-info{
    display: flex;
    align-items: center;
}

.roomInfo-name-date{
    margin-left : 12px;
    font-size : 15px;
}

.mini-text{
    color : #717171;
    font-size : 15px;
}
.roomInfo-review-text{
    width : 50%;
    margin-top : 20px;
}

.review-title-container{
    display: flex;
    margin: 40px 0 40px 0;
    align-items: center;
}

.review-title-text{
    font-size : 22px;
    font-weight: 500;
    margin-left : 12px;
}

.roomInfo-review-section{
    
    margin-top : 20px;
    width : 100%;
    height: 300px;
    
}

.roomInfo-review-container{
    width : 78%;
    margin : 0 auto;
    border-top : 1px solid #DDDDDD;
}


.roomInfo-hosting-location-section{
    width : 100%;
    height : 500px;
    margin-top : 50px;
    padding-bottom : 30px;
    
}

.roomInfo-hosting-location-container{
    width : 78%;
    margin : 0 auto;
    padding-top : 50px;
    border-top : 1px solid #DDDDDD;
}

.text-common{
    font-size : 25px;
    font-weight: 500;
    margin-bottom : 20px;
}

.roomInfo-google-map{
    width : 100%;
    margin-top : 20px;
    height : 450px;
}

.roomInfo-host-info-section{
    width : 100%;
    height : 300px;
    margin-top : 150px;
}

.host-info-host-container{
    width : 78%;
    margin-top : 100px;
    margin : 0 auto;
    border-top : 1px solid #DDDDDD;
    padding-top : 50px;

}

.host-info-first-container{
    display : flex;
    align-items: center;
}

.host-info-container{
    margin-left : 20px;
}

.big-text {
    font-size : 23px;
    font-weight: 500;
    margin-bottom : 10px;
}

.roomInfo-host-second-container{
    display: flex;
    margin-top : 20px;
}

.second-container-inner{
    width : 50%;
}

.first-container-first, .first-container-second{
    display: flex;
}
.first-container-first > div{
    margin : 0 15px 0 8px;
}

.first-container-second > div{
    margin : 0 15px 0 8px;
}

.first-container-icon{
    display: flex;
    margin-bottom : 30px;
}

.bold-text{
    margin-top : 30px;
    font-weight: 500;
    margin-bottom : 10px;
}

.img-container{
    display: flex;
    align-items: center;
}

.img-container > span{
    margin-left : 15px;
}


.mini-text-date{
    font-size : 13px;
    color : #717171;
}

.host-mini-text{
    font-size: 12px;
}

.mini-text{
    font-size: 12px;
    width : 48%;
}

.host-contact-box{
    width : 180px;
    height : 50px;
    border-radius: 10px;
    border : 1px solid black;
    text-align: center;
    line-height: 50px;
    margin : 40px 0 40px 0;
    font-weight: 500;
}

.small-round-img{
    background-size : cover;
    background-repeat: no-repeat;
    width : 40px;
    height : 40px;
    border-radius: 50%;
}

.roomInfo-known-section{
    width : 100%;
    height :  300px;
    margin-top : 50px;
    padding-top : 50px;
    margin-bottom : 100px;
    display: flex;
    flex-direction: column;
}

.roomInfo-known-container{
    border-top : 1px solid #DDDDDD;
    width : 78%;
    margin : 0 auto;
    padding-top : 50px;
}

.known-container{
    display: flex;
    flex-direction: row;
}

.known-first-section{
    width : 33%;
}

.known-icon-container{
    display: flex;
    align-items: center;
    margin-bottom : 13px;
}

.known-icon-container >  div{
    margin-left : 20px;
    width : 80%;
}

.known-title{
    font-weight: 500;
    margin-bottom : 15px;
}

.roomInfo-bottom-container{
    display: block;
    width : 100%;
    height : 100%;
    border-top : 1px solid #DDDDDD;
    background-color: #F7F7F7;
    margin-top : 20px;
}

.roomInfo-link-section-wrap{
    width : 78%;
    margin : 0 auto;
}

.info-ul-wrap{
    display :flex;
    justify-content: space-between;
    width : 100%;
    height : 200px;
    margin : 0 auto;
}

.info-footer-wrap{
    width : 100%;
    border-top : 1px solid #DDDDDD;
    padding-top : 10px;
}

.info-link-section-wrap{
    width : 100%;
    margin-bottom : 100px;
    margin-top : 50px;
    background-color: #F7F7F7;
}

.info-place-section-wrap{
    width : 100%;
    margin-bottom : 100px;
    margin-top : 50px;
}

.info-place-wrap{
    width : 100%;
    display: flex;    
}

.link-wrap{
    width : 35%;
}

.place-wrap{
    width : 37%;
}
.info-place-title{
    font-size : 1.5rem;
    font-weight: 500;
    margin-top : 50px;
}

.places{
    list-style: none;
    margin-bottom : 18px;
    color: #717171;
}

.roomInfo-place-section{
    width : 100%;
    height : 250px;
    border-bottom : 1px solid #DDDDDD;
}

.roomInfo-place-inner{
    margin : 0 auto;
    width : 78%;
    height : 100%;
    
}

.roomInfo-middle-right-containerbox{
    position : sticky;
    top : 100px;
    width : 80%;
    height : 330px;
    margin-left : 5%;
    border-radius: 10px;
    border : 1px solid #DDDDDD;
}
.middle-right-container{
    width : 40%;
    height : 2000px;
    display: flex;
    justify-content: right;
}

.roomInfo-right-sticky-container{

    width : 95%;
    height : 335px;
    border-radius: 10px;
}

.sticky-box-title{
    margin : 20px 0 10px 25px;
    font-size : 20px;
    width : 80%;
    word-break: keep-all;
    line-height: 20px;
}

.mini-underline{
    text-decoration: underline;
    font-weight: 500;
    font-size : 15px;
    margin-left : 25px;
}

.ckeck-in-box{
    width : 89%;
    height : 120px;
    margin : 20px 0 10px 25px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border : 1px solid #9e9e9e;
}

.check-in-box-top{
    display: flex;
    border-bottom : 1px solid #9e9e9e;
}



.sticky-box-check-in{
    width : 50%;
    height : 60px;
    border-right : 1px solid #9e9e9e;
}

.sticky-box-check-out{
    width : 50%;
    height : 60px;    
}

.sticky-box-check-in-text{
    font-size : 12px;
    font-weight: bold;
    margin : 15px 0 0 15px;
}


.sticky-box-date-text{
    font-size : 14px;
    color : #717171;
    margin : 5px 0 15px 15px;
}

.check-in-box-bottom{
    display: flex;
    flex: row;
    justify-content: space-between;
}

.sticky-box-guest-text{
    margin : 10px 0 0 15px;
}

.guest-mini-text{
    font-size : 10px;
    font-weight: bold;
    margin-bottom : 3px;
}

.guest-text{
    font-size : 14px;
}

.sticky-icon{
    margin : 20px 20px 0 0;
}

.sticky-box-reserve-box{
    width : 90%;
    height : 50px;
    background: linear-gradient(to right, rgb(230, 30, 77) 0%, rgb(227, 28, 95) 50%, rgb(215, 4, 102) 100%) !important;
    margin-left : 25px;
    border-radius: 10px;
    text-align: center;
    line-height: 50px;
    color : white;
    font-weight: 600;
    margin-top : 20px;
}

.scroll-top-nav-container{
    width : 100%;
    height : 80px;
    display: flex;
    align-items: center;
    border-bottom : 1px solid #DDDDDD;
}

.scroll-top-nav-wrap{
    width : 78%;
    margin : 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.scroll-top-nav{
    display: flex;
}

.scroll-top-nav > div {
    margin-right : 21px;
    font-weight: 500;
    font-size : 15px;
}

.scroll-top-nav-container{
    position: fixed;
    background : white;
    z-index: 10000;
}

.scroll-reserve-box{
    width : 180px;
    height : 50px;
    border-radius: 10px;
    background: linear-gradient(to right, rgb(230, 30, 77) 0%, rgb(227, 28, 95) 50%, rgb(215, 4, 102) 100%) !important;
    text-align: center;
    line-height: 50px;
    color : white;
    font-weight : 600
}
