/* 


.swiper-wrapper{
    width : 100px;
    height : 100%;
    background-color: aqua;
}

.swipter-section-wrapper{
    width : 100%;
    height : 200px;
    background-color: bisque;
}

.swiper-1{
    background-size : cover;
    background-repeat: no-repeat;
} */